body { 
    background: url('https://live.staticflickr.com/6016/6019829562_c0b3c45e13_k.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 16px;
    line-height: 0.3;
    background: #fff;
  }
  .navbar-nav {
    text-align: center;
  }
  
  .navbar-nav .nav-item {
    /* text-transform: uppercase; */
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .paragraph {
        background-color: rgba(221, 90, 233, 0.2);
        margin-right: 10%;
        margin-left: 10%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 5%;
        border: 1px solid black;
        filter: alpha(opacity=60);
  }

.img-fluid {
    color: #fff;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 1.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}